@page
@using Razor.Pages.Movies
@model AddModel

<form method="post">
    <div>
        <label>Название фильма</label>
        <input asp-for="Movie.Title" type="text" style="width: 400px" />
        <span asp-validation-for="Movie.Title" class="text-danger"></span>
    </div>
    <div>
        <label>Ссылка на фото</label>
        <input asp-for="Movie.URL" type="text" />
        <span asp-validation-for="Movie.URL" class="text-danger"></span>
    </div>
    <div>
        <label>Описание фильма</label>
        <input asp-for="Movie.Description" type="text" />
        <span asp-validation-for="Movie.Description" class="text-danger"></span>
    </div>
    <input type="submit" />
</form>