@page
@using Razor.Pages.Movies
@model DeleteModel

<div class="container">
    <form method="post">
        <h1>Вы уверены, что хотите удалить фильм @Model.Movie.Title</h1>
        <p>@Model.Movie.Description</p>
        <button type="submit" asp-route-id="@Model.Movie.Id" asp-page-handler="delete" class="btn btn-primary">Удалить</button>
    </form>
</div>