@page
@model Razor.Pages.Movies.DetailsModel

<div class="cd__main">
    <div class="container my-5">
        <div class="row">
            <div class="col-md-5">
                <div class="main-img">
                    <img class="img-fluid" src="@Model.Movie.URL" alt="@Model.Movie.Title">
                </div>
            </div>
            <div class="col-md-7">
                <div class="main-description px-2">
                    <div class="category text-bold">
                        @Model.Movie.Title
                    </div>
                    <div class="product-title text-bold my-3">
                        @Model.Movie.Description
                    </div>

                    <a class="btn btn-primary" asp-page="./Index">Назад</a>
                </div>
            </div>
        </div>
    </div>
</div>