@page
@model Razor.Pages.Movies.DetailsModel

<div class="cd__main">
    <div class="container my-5">
        <div class="row">
            <div class="col-md-5">
                <div class="main-img">
                    <img class="img-fluid" src="https://afisha-ekb.ru/media/events/21df6a4e9ba14260a610d5c9b7a349e5.jpg" alt="Сталкер">
                </div>
            </div>
            <div class="col-md-7">
                <div class="main-description px-2">
                    <div class="category text-bold">
                        Сталкер
                    </div>
                    <div class="product-title text-bold my-3">
                        Фильм-притча о путешествии в Зону необъяснимого. Загадочное небесное тело после падения на Землю образовало Зону — территорию загадочных аномалий, в которой пропадают люди.
                    </div>

                    <div class="price-area my-4">
                        <p class="old-price mb-1">Цена билета 200 ₽</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>