@page
@model Razor.Pages.Movies.IndexModel;

<div class="container" style="padding-top: 35px">
    <a href="./Create" class="btn btn-success">Добавить</a>
    <div class="row row-cols-4">
        @foreach(var movie in MovieLibrary.MovieStorage.Movies)
        {
            <div class="col" style="margin-top:20px">
                <div class="card" style="width: 18rem; height: 350px">
                    <img src="@movie.URL" class="card-img-top" alt="@movie.Title">
                    <div class="card-body">
                        <h5 class="card-title">@movie.Title</h5>
                        <p class="card-text">@movie.Cost ₽</p>
                        <a href="Details" class="btn btn-primary">Купить билет</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>