@page
@model Razor.Pages.IndexModel
<div class="container">
    <div class="jumbotron">
        <h1 class="display-3">Люксор</h1>
        <h2 class="display-3">Сегодня показ 5 фильмов</h2>

        <p>Тарковский</p>
        <p>Кубрик</p>
        <p>Тарантино</p>
        <p>Скарсезе</p>
        <p>Михалков</p>
    </div>
</div>